// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1, h3{
    text-align: center;
}
p{
    font-size: 16px;
}
.button{
    border: 1px solid gray;
    border-radius: 50px;
    background-color: transparent;
    font-weight: bold;
    color: #F2F2EF;
    width: 100px;
    height: 25px;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: black;    
    }
}
fieldset{
    margin-left: auto;
    margin-right: auto;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.center{
    text-align: center;
}
.red{
    color: red;
}
.flex{
    display: flex;
}
.user{
    font-size: 18px;
}
.message{
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    max-width: 30vw;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
}
.chatbox{
    max-height: 75vh;
    overflow-y: scroll;
}